NEXT_PUBLIC_PRIVY_APP_ID="your_privy_app_id_here"
PRIVY_APP_SECRET="your_privy_app_secret_here"
PRIVY_WALLET_AUTH_KEY="your_privy_wallet_auth_key_here"

NEXT_PUBLIC_BASE_RPC_URL=https://base.llamarpc.com
NEXT_PUBLIC_HYPEREVM_RPC_URL=https://api.hyperliquid-testnet.xyz

NEXT_PUBLIC_HYPERLIQUID_IS_TESTNET=true
